* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf4f1;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  background-color: #f8e1db;
  padding: 10px 60px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.nav-item {
  padding: 5px 0;
  margin-right: 30px;
}

/* main */
.slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.destinations {
  height: 100%;
  padding-bottom: 60px;
}

.destinations__heading {
  text-align: center;
  padding: 60px 0 40px;
}

.destinations__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.destinations__item {
  width: 23%;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}

.destinations__item__img {
  position: relative;
}

.destinations__item__img img {
  border-radius: 20px;
  width: 90%;
}

.icon-heart {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e77051;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-75%, 50%);
}

.destinations__item h3 {
  padding: 16px 0;
}

.destinations__item p {
  padding-bottom: 32px;
  color: #919191;
}

.btn-readmore {
  display: block;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  padding: 10px 60px;
  color: #909090;
  background-color: #e8e8e8;
  border-radius: 20px;
  transition: 0.1s linear;
}

.btn-primary {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 60px;
  border-radius: 20px;
  color: #ea8064;
  background-color: #faf4f1;
  border: 1px solid #ea8064;
  text-decoration: none;
  transition: 0.2s linear;
}

.media {
  height: 400px;
  padding: 0 40px;
  background: #f8e1db url("./../images/mask.png") no-repeat;
  background-size: cover;
  background-position-x: -400px;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media > img {
  object-fit: none;
}

.media__content {
  width: 50%;
}

.media__content h2 {
  margin-bottom: 16px;
}

.media__content p {
  margin-bottom: 20px;
}

.media__social-media {
  display: flex;
}

.icon-media {
  color: #e77051;
  font-size: 24px;
  margin-right: 5px;
}

.media__social-media__dowload-app {
  margin-right: 10px;
}

.media__social-media__follow-us h3,
.media__social-media__dowload-app h3 {
  margin-bottom: 10px;
}

footer {
  margin-top: 80px;
  padding: 60px 50px 40px;
  background-color: #f8e1db;
  border-radius: 80px 80px 0 0;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  line-height: 24px;
}

.footer__content h3 {
  margin-bottom: 20px;
}

.footer__content__menu ul {
  list-style: none;
}

.footer__content__text {
  max-width: 35%;
}

.footer-copywrite {
  margin-top: 50px;
  text-align: center;
}

a:hover {
  color: #e77051;
}

.btn:hover {
  color: #fff;
  background-color: #e77051;
}
