form {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    padding: 20px 30px 0;
    width: 40%;
}

.form-group:last-child {
    padding: 20px 30px 0;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-group input {
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}